<pre>
*****PySpark DF Question*****
Filenames: txns
1) Filter category by gymnastics and  Team Sports in one Df.
2) Filter spendby by credit and save in another Df.
3) Join these two DF using DSL.
4) Write the data to hdfs in XML format with roottag as txn and row tag as records
</pre>

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("yettodecide").master("local").getOrCreate()

In [3]:
df = spark.read.format("csv")\
          .option("header",True)\
          .option("InferSchema",True)\
          .load("C:\\Personal\\Projects\\Spark\\dataset\\txns")

In [6]:
df.show(10,truncate=False)

+-----+----------+-------+------+----------------------+---------------------------------+--------------+--------------+-------+
|txnno|txndate   |custno |amount|category              |product                          |city          |state         |spendby|
+-----+----------+-------+------+----------------------+---------------------------------+--------------+--------------+-------+
|0    |06-26-2011|4007024|40.33 |Exercise & Fitness    |Cardio Machine Accessories       |Clarksville   |Tennessee     |credit |
|1    |05-26-2011|4006742|198.44|Exercise & Fitness    |Weightlifting Gloves             |Long Beach    |California    |credit |
|2    |06-01-2011|4009775|5.58  |Exercise & Fitness    |Weightlifting Machine Accessories|Anaheim       |California    |credit |
|3    |06-05-2011|4002199|198.19|Gymnastics            |Gymnastics Rings                 |Milwaukee     |Wisconsin     |credit |
|4    |12-17-2011|4002613|98.81 |Team Sports           |Field Hockey                     |Nashville     |Tennessee     |credit |
|5    |02-14-2011|4007591|193.63|Outdoor Recreation    |Camping & Backpacking & Hiking   |Chicago       |Illinois      |credit |
|6    |10-28-2011|4002190|27.89 |Puzzles               |Jigsaw Puzzles                   |Charleston    |South Carolina|credit |
|7    |07-14-2011|4002964|96.01 |Outdoor Play Equipment|Sandboxes                        |Columbus      |Ohio          |credit |
|8    |01-17-2011|4007361|10.44 |Winter Sports         |Snowmobiling                     |Des Moines    |Iowa          |credit |
|9    |05-17-2011|4004798|152.46|Jumping               |Bungee Jumping                   |St. Petersburg|Florida       |credit |
+-----+----------+-------+------+----------------------+---------------------------------+--------------+--------------+-------+
only showing top 10 rows

In [5]:
from pyspark.sql.functions import col

In [11]:
df1 = df.where( (col("category") == "Gymnastics") | (col("category") == "Team Sports"))  
df1.show(10,truncate=False)

+-----+----------+-------+------+-----------+-----------------+--------------+----------+-------+
|txnno|txndate   |custno |amount|category   |product          |city          |state     |spendby|
+-----+----------+-------+------+-----------+-----------------+--------------+----------+-------+
|3    |06-05-2011|4002199|198.19|Gymnastics |Gymnastics Rings |Milwaukee     |Wisconsin |credit |
|4    |12-17-2011|4002613|98.81 |Team Sports|Field Hockey     |Nashville     |Tennessee |credit |
|13   |03-13-2011|4003268|107.8 |Team Sports|Field Hockey     |Honolulu      |Hawaii    |credit |
|14   |02-25-2011|4004613|36.81 |Gymnastics |Vaulting Horses  |Los Angeles   |California|credit |
|18   |11-18-2011|4002444|88.65 |Team Sports|Baseball         |Salt Lake City|Utah      |credit |
|23   |05-02-2011|4007596|99.5  |Gymnastics |Gymnastics Rings |Springfield   |Illinois  |credit |
|28   |05-12-2011|4001864|79.78 |Team Sports|Cricket          |Lexington     |Kentucky  |credit |
|32   |01-29-2011|4007790|20.13 |Team Sports|Soccer           |Springfield   |Illinois  |credit |
|34   |05-06-2011|4000663|98.96 |Team Sports|Indoor Volleyball|Atlanta       |Georgia   |credit |
|36   |10-13-2011|4009055|35.66 |Team Sports|Football         |Saint Paul    |Minnesota |credit |
+-----+----------+-------+------+-----------+-----------------+--------------+----------+-------+
only showing top 10 rows

In [12]:
df2 = df.where( (col("spendby") == "credit"))
df2.show(10,truncate=False)

+-----+----------+-------+------+----------------------+---------------------------------+--------------+--------------+-------+
|txnno|txndate   |custno |amount|category              |product                          |city          |state         |spendby|
+-----+----------+-------+------+----------------------+---------------------------------+--------------+--------------+-------+
|0    |06-26-2011|4007024|40.33 |Exercise & Fitness    |Cardio Machine Accessories       |Clarksville   |Tennessee     |credit |
|1    |05-26-2011|4006742|198.44|Exercise & Fitness    |Weightlifting Gloves             |Long Beach    |California    |credit |
|2    |06-01-2011|4009775|5.58  |Exercise & Fitness    |Weightlifting Machine Accessories|Anaheim       |California    |credit |
|3    |06-05-2011|4002199|198.19|Gymnastics            |Gymnastics Rings                 |Milwaukee     |Wisconsin     |credit |
|4    |12-17-2011|4002613|98.81 |Team Sports           |Field Hockey                     |Nashville     |Tennessee     |credit |
|5    |02-14-2011|4007591|193.63|Outdoor Recreation    |Camping & Backpacking & Hiking   |Chicago       |Illinois      |credit |
|6    |10-28-2011|4002190|27.89 |Puzzles               |Jigsaw Puzzles                   |Charleston    |South Carolina|credit |
|7    |07-14-2011|4002964|96.01 |Outdoor Play Equipment|Sandboxes                        |Columbus      |Ohio          |credit |
|8    |01-17-2011|4007361|10.44 |Winter Sports         |Snowmobiling                     |Des Moines    |Iowa          |credit |
|9    |05-17-2011|4004798|152.46|Jumping               |Bungee Jumping                   |St. Petersburg|Florida       |credit |
+-----+----------+-------+------+----------------------+---------------------------------+--------------+--------------+-------+
only showing top 10 rows

In [13]:
df3 = df1.join(df2, df1.txnno == df2.txnno, "inner")
df3.show(10,truncate=False)

+-----+----------+-------+------+-----------+-----------------+--------------+----------+-------+-----+----------+-------+------+-----------+-----------------+--------------+----------+-------+
|txnno|txndate   |custno |amount|category   |product          |city          |state     |spendby|txnno|txndate   |custno |amount|category   |product          |city          |state     |spendby|
+-----+----------+-------+------+-----------+-----------------+--------------+----------+-------+-----+----------+-------+------+-----------+-----------------+--------------+----------+-------+
|3    |06-05-2011|4002199|198.19|Gymnastics |Gymnastics Rings |Milwaukee     |Wisconsin |credit |3    |06-05-2011|4002199|198.19|Gymnastics |Gymnastics Rings |Milwaukee     |Wisconsin |credit |
|4    |12-17-2011|4002613|98.81 |Team Sports|Field Hockey     |Nashville     |Tennessee |credit |4    |12-17-2011|4002613|98.81 |Team Sports|Field Hockey     |Nashville     |Tennessee |credit |
|13   |03-13-2011|4003268|107.8 |Team Sports|Field Hockey     |Honolulu      |Hawaii    |credit |13   |03-13-2011|4003268|107.8 |Team Sports|Field Hockey     |Honolulu      |Hawaii    |credit |
|14   |02-25-2011|4004613|36.81 |Gymnastics |Vaulting Horses  |Los Angeles   |California|credit |14   |02-25-2011|4004613|36.81 |Gymnastics |Vaulting Horses  |Los Angeles   |California|credit |
|18   |11-18-2011|4002444|88.65 |Team Sports|Baseball         |Salt Lake City|Utah      |credit |18   |11-18-2011|4002444|88.65 |Team Sports|Baseball         |Salt Lake City|Utah      |credit |
|23   |05-02-2011|4007596|99.5  |Gymnastics |Gymnastics Rings |Springfield   |Illinois  |credit |23   |05-02-2011|4007596|99.5  |Gymnastics |Gymnastics Rings |Springfield   |Illinois  |credit |
|28   |05-12-2011|4001864|79.78 |Team Sports|Cricket          |Lexington     |Kentucky  |credit |28   |05-12-2011|4001864|79.78 |Team Sports|Cricket          |Lexington     |Kentucky  |credit |
|32   |01-29-2011|4007790|20.13 |Team Sports|Soccer           |Springfield   |Illinois  |credit |32   |01-29-2011|4007790|20.13 |Team Sports|Soccer           |Springfield   |Illinois  |credit |
|34   |05-06-2011|4000663|98.96 |Team Sports|Indoor Volleyball|Atlanta       |Georgia   |credit |34   |05-06-2011|4000663|98.96 |Team Sports|Indoor Volleyball|Atlanta       |Georgia   |credit |
|36   |10-13-2011|4009055|35.66 |Team Sports|Football         |Saint Paul    |Minnesota |credit |36   |10-13-2011|4009055|35.66 |Team Sports|Football         |Saint Paul    |Minnesota |credit |
+-----+----------+-------+------+-----------+-----------------+--------------+----------+-------+-----+----------+-------+------+-----------+-----------------+--------------+----------+-------+
only showing top 10 rows

In [ ]:
df3