In [9]:
import pyspark.sql.functions as F

In [3]:
from pyspark.sql import SparkSession

In [1]:
import findspark
findspark.init()

In [5]:
spark = SparkSession.builder.appName("1st SQL question").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/07/21 04:34:21 WARN Utils: Your hostname, de24, resolves to a loopback address: 127.0.1.1; using 192.168.0.102 instead (on interface enp0s3)
25/07/21 04:34:21 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/07/21 04:34:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/07/21 04:34:23 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [6]:
spark

In [ ]:
'''
Table: Activity

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| user_id       | int     |
| session_id    | int     |
| activity_date | date    |
| activity_type | enum    |
+---------------+---------+
This table may have duplicate rows.
The activity_type column is an ENUM (category) of type ('open_session', 'end_session', 'scroll_down', 'send_message').
The table shows the user activities for a social media website. 
Note that each session belongs to exactly one user.
 

Write a solution to find the daily active user count for a period of 30 days ending 2019-07-27 inclusively. 
A user was active on someday if they made at least one activity on that day.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Activity table:
+---------+------------+---------------+---------------+
| user_id | session_id | activity_date | activity_type |
+---------+------------+---------------+---------------+
| 1       | 1          | 2019-07-20    | open_session  |
| 1       | 1          | 2019-07-20    | scroll_down   |
| 1       | 1          | 2019-07-20    | end_session   |
| 2       | 4          | 2019-07-20    | open_session  |
| 2       | 4          | 2019-07-21    | send_message  |
| 2       | 4          | 2019-07-21    | end_session   |
| 3       | 2          | 2019-07-21    | open_session  |
| 3       | 2          | 2019-07-21    | send_message  |
| 3       | 2          | 2019-07-21    | end_session   |
| 4       | 3          | 2019-06-25    | open_session  |
| 4       | 3          | 2019-06-25    | end_session   |
+---------+------------+---------------+---------------+
Output: 
+------------+--------------+ 
| day        | active_users |
+------------+--------------+ 
| 2019-07-20 | 2            |
| 2019-07-21 | 2            |
+------------+--------------+ 
Explanation: Note that we do not care about days with zero active users.
'''

In [10]:
data = [
(1,1,'2019-07-20','open_session'),
(1,1,'2019-07-20','scroll_down' ),
(1,1,'2019-07-20','end_session' ),
(2,4,'2019-07-20','open_session'),
(2,4,'2019-07-21','send_message'),
(2,4,'2019-07-21','end_session' ),
(3,2,'2019-07-21','open_session'),
(3,2,'2019-07-21','send_message'),
(3,2,'2019-07-21','end_session' ),
(4,3,'2019-06-25','open_session'),
(4,3,'2019-06-25','end_session' )
]
schema = ['user_id','session_id','activity_date','activity_type']

In [11]:
t1_df = spark.createDataFrame(data = data,schema=schema)
t1_df.show(truncate=False)

+-------+----------+-------------+-------------+
|user_id|session_id|activity_date|activity_type|
+-------+----------+-------------+-------------+
|1      |1         |2019-07-20   |open_session |
|1      |1         |2019-07-20   |scroll_down  |
|1      |1         |2019-07-20   |end_session  |
|2      |4         |2019-07-20   |open_session |
|2      |4         |2019-07-21   |send_message |
|2      |4         |2019-07-21   |end_session  |
|3      |2         |2019-07-21   |open_session |
|3      |2         |2019-07-21   |send_message |
|3      |2         |2019-07-21   |end_session  |
|4      |3         |2019-06-25   |open_session |
|4      |3         |2019-06-25   |end_session  |
+-------+----------+-------------+-------------+

In [17]:
t1_df.where((F.col("activity_date") > '2019-06-28') & (F.col("activity_date") <= '2019-07-27') ).show()

+-------+----------+-------------+-------------+
|user_id|session_id|activity_date|activity_type|
+-------+----------+-------------+-------------+
|      1|         1|   2019-07-20| open_session|
|      1|         1|   2019-07-20|  scroll_down|
|      1|         1|   2019-07-20|  end_session|
|      2|         4|   2019-07-20| open_session|
|      2|         4|   2019-07-21| send_message|
|      2|         4|   2019-07-21|  end_session|
|      3|         2|   2019-07-21| open_session|
|      3|         2|   2019-07-21| send_message|
|      3|         2|   2019-07-21|  end_session|
+-------+----------+-------------+-------------+

In [24]:
t1_df.where((F.col("activity_date") > '2019-06-28') & (F.col("activity_date") <= '2019-07-27') )\
    .groupby(F.col("activity_date"))\
    .agg(F.countDistinct("user_id").alias("distinct_user_count"))\
    .show()

+-------------+-------------------+
|activity_date|distinct_user_count|
+-------------+-------------------+
|   2019-07-21|                  2|
|   2019-07-20|                  2|
+-------------+-------------------+

## SQL Solution

In [ ]:
# select activity_date, count(Disitnct user_id)
# FROM Activity 
# WHERE activity_date BETWEEN '2019-06-28' AND '2019-07-27'
# GROUP BY activity_date;