In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [3]:
spark = SparkSession.builder.master("local[4]").appName("1527").getOrCreate()
spark

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/07/24 01:50:30 WARN Utils: Your hostname, de24, resolves to a loopback address: 127.0.1.1; using 192.168.0.102 instead (on interface enp0s3)
25/07/24 01:50:30 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/07/24 01:50:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/07/24 01:50:33 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/07/24 01:50:33 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [ ]:
'''
Table: Patients

+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| patient_id   | int     |
| patient_name | varchar |
| conditions   | varchar |
+--------------+---------+
patient_id is the primary key (column with unique values) for this table.
'conditions' contains 0 or more code separated by spaces. 
This table contains information of the patients in the hospital.
 

Write a solution to find the patient_id, patient_name, 
and conditions of the patients who have Type I Diabetes. 
Type I Diabetes always starts with DIAB1 prefix.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Patients table:
+------------+--------------+--------------+
| patient_id | patient_name | conditions   |
+------------+--------------+--------------+
| 1          | Daniel       | YFEV COUGH   |
| 2          | Alice        |              |
| 3          | Bob          | DIAB100 MYOP |
| 4          | George       | ACNE DIAB100 |
| 5          | Alain        | DIAB201      |
+------------+--------------+--------------+
Output: 
+------------+--------------+--------------+
| patient_id | patient_name | conditions   |
+------------+--------------+--------------+
| 3          | Bob          | DIAB100 MYOP |
| 4          | George       | ACNE DIAB100 | 
+------------+--------------+--------------+
Explanation: Bob and George both have a condition that starts with DIAB1.
'''

In [4]:
data = [
(1,'Daniel','YFEV COUGH'  ),
(2,'Alice' ,''            ),
(3,'Bob'  ,'DIAB100 MYOP'),
(4,'George','ACNE DIAB100'),
(5,'Alain' ,'DIAB201'    )
]
schema = ['patient_id','patient_name','conditions']

In [6]:
df = spark.createDataFrame(data = data, schema = schema )
df.show()

+----------+------------+------------+
|patient_id|patient_name|  conditions|
+----------+------------+------------+
|         1|      Daniel|  YFEV COUGH|
|         2|       Alice|            |
|         3|         Bob|DIAB100 MYOP|
|         4|      George|ACNE DIAB100|
|         5|       Alain|     DIAB201|
+----------+------------+------------+

In [7]:
df.where(
    F.col("conditions").rlike("[ ]*DIAB1")
).show()

+----------+------------+------------+
|patient_id|patient_name|  conditions|
+----------+------------+------------+
|         3|         Bob|DIAB100 MYOP|
|         4|      George|ACNE DIAB100|
+----------+------------+------------+

## SQL Solution

<pre>
SELECT patient_id,patient_name,conditions
FROM Patients
    WHERE conditions REGEX '[ ]*DIAB1';
</pre>